In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/20181029_d1_0800_0830.csv")

In [3]:
df.columns.to_list

In [5]:
df

    track_id; type; traveled_d; avg_speed; lat; lon; speed; lon_acc; lat_acc; time
0    1; Car; 25.59; 5.549289; 37.977353; 23.737695;...
1    2; Car; 103.37; 18.985780; 37.978027; 23.73723...
2    3; Motorcycle; 130.36; 32.589339; 37.978110; 2...
3    4; Motorcycle; 160.70; 26.537342; 37.978128; 2...
4    5; Car; 164.14; 26.379138; 37.978152; 23.73711...
..                                                 ...
756  757; Car; 57.09; 29.358675; 37.980713; 23.7349...
757  758; Car; 47.69; 26.012926; 37.980720; 23.7349...
758  759; Medium Vehicle; 42.37; 29.335799; 37.9782...
759  760; Taxi; 26.09; 27.626198; 37.978293; 23.735...
760  761; Car; 5.64; 25.387158; 37.978300; 23.73530...

[761 rows x 1 columns]

In [7]:
df.shape

(761, 1)